<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
<table th:each:="list-item: ${list}">
    <tr>
        <td th:text="${JobData.getAllEmployers()}"></td>
        <td th:text="${JobData.getAllLocations()}"></td>
        <td th:text="${JobData.getAllPositionTypes()}"></td>
        <td th:text="${JobData.JobData.getAllCoreCompetency()}"></td>
    </tr>
</table>
</div>

</body>
</html>