<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
<table  th:block th:each="job: ${jobs}" class="job-listing">
    <tr>

        <td th:text="'Id: ' + ${job.id}"></td>
        <td th:text="'Name: ' + ${job.name}"></td>
        <td th:text="'Employer: ' + ${job.employer}"></td>
        <td th:text="'Location: ' + ${job.location}"></td>
        <td th:text="'Position Type: ' + ${job.positionType}"></td>
        <td th:text="'Skill: ' + ${job.coreCompetency}"></td>


<!--&lt;!&ndash;        <td th:text="${Job.getId()}"></td>&ndash;&gt;-->
<!--        <td th:text="${Job.Employer.getValue()}"></td>-->
<!--        <td th:text="${Job.Location.getValue()}"></td>-->
<!--        <td th:text="${Job.PositionType.getValue()}"></td>-->
<!--        <td th:text="${Job.CoreCompetency.getValue()}"></td>-->
    </tr>
    </th:block>
</table>
</div>

</body>
</html>